$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;


$post-box-background: #ffffff;
$active-menu-color: #ffffff;
$menu-border-top-color: #ffffff;

$post-info-text:rgb(103,103,103);
