.post-box {
  margin-bottom: 2rem;
  
  > a {
    text-decoration: none;
  }

  .cover {
    position: relative;
    padding: 70% 25px 0 25px;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }
    overflow: hidden;
    align-items: flex-end;

    img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      height: auto;
      object-fit: fill;
    }

    .details {
      position: relative;
      padding: 15px 20px;
      display: flex;
      color: $text-color;
      background-color: $post-box-background;
      font-size: 14px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .post-info {
    padding: 25px;

    h5 {
      color: $post-info-text;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: $post-info-text;
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }

  &:hover {
    .post-info {
      h5 {
        color: $primary;
      }
      .more {
        .btn-main {
          background-color: $primary;
        }
      }
    }
  }
}
